/*
 * cryptogram.css - contains styling information for the different components of the cryptogram helper
 *
 * Primary Author: Colin Heffernan
 * Created: Dec 4 2013
 *
*/
h1
{
    color: green;
}

/* Box where user types the original, crypted message */
#messageInput{
    border-radius: 5px;
    border: 2px solid purple;
    background-color: #ffcc33;
    font-size: 18px;
    text-transform: uppercase;
}

/* Box displaying which letters are available for substitution */
#freeLetterDisplay{
    width: 85%;
    background-color: #aabbaa;
    border: 3px solid black;
    border-radius: 15px;
}

/* Main element displaying both the original message and its updated substituted equivalent */
#messageDisplay{
    width: 85%;
    background-color: #4499aa;
    text-align: left;
    border: 3px solid black;
    border-radius: 15px;
}

/* Table to display the frequency of each letter in the table under the message display */
#frequencyDisplay{
    width: 85%;
}

/* Words are displayed individually in their own wordDisplay elements in the messageDisplay */
.wordDisplay{
    display: inline-block;
}

/* Element to hold both the original letter and its substitution above it */
.letterHolder{
    width: 50px;
    height: 50px;
}

/* div elements containing the entire letter object with both original and substitution*/
.letter{
    display: inline-block;
    width: 50px;
    height: 100px;
}

/* div element for the crypted letters in the message display */
.cryptedCharacter{
    text-align: center;
    color: white;
    font-family:"Times New Roman",Times,serif;
    font-size: 18px;
    width: 40px;
    height: 40px;
}

/* div elements for the free letters that can be dragged about the message and free letters table */
.decryptedCharacter{ 
    text-align: center;
    font-family:"Times New Roman",Times,serif;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0px;
    color: white;
    border-radius: 15px;
    background-color: green;
    border: 2px solid white;
    display: inline-block;
}

/* div element for the letter in the message that is currently selected by the mouse */
.highlightedLetter{ 
    text-align: center;
    font-family:"Times New Roman",Times,serif;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    background-color: yellow;
    border: 2px solid black;
    display: inline-block;
}

/* Individual cell in the frequencyDisplay to display a letter and its frequency in the message */
.letterFrequency{
    display: inline-block;
    background-color: red;
    border: 1px solid blue;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    line-height: 25 px;
    font-size: 20px;
    margin: 5px;
}

/* styling for begin and reset buttons */
button {
    border-radius: 8px;
    border: 2px green solid;
}


    